{% extends ['base.html.twig'] %}
    {% block content %}

        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <h1>Galery</h1>
                    <form name="res" action="{{ path('image-load') }}" method="post">
                        <div class="row">
                            <div class="col">
                                <input type="text" id="url" class="form-control" name="image-url" placeholder="url">
                                <input type="text" id="width" class="form-control" name="width" placeholder="image width">
                                <input type="text" id="height" class="form-control" name="height" placeholder="image height">
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-2" name="submit">Add</button>
                        </div>
                    </form>
                    <div class="container col-md-12">
                        <div class="row images">
                        {% for image in images %}
                            <div class="col-md-2 image"><img src="images/{{ image }}"  alt=""></div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}